@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">There is no data available for this cluster.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Redirecting to homepage....</h3>

<script>
    setTimeout(function () {
        window.location.replace("/Home");
    }, 1250);
</script>