@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["About"]</h1>

<h1 class="display-4">About</h1>
<p>JetsonWeb provides a view for utilization statistics of the Jetson Cluster.</p>
<br />
<h2>Team Members</h2>
<p>Mateo Canabal</p>
<p>Arvind Draffen</p>
<p>Idrees Miran</p>
<p>Hunter Robinson</p>
<br />
<h2>Advisors</h2>
<p>Dr. Earl Wells</p>
<p>Mr. Jason Winningham</p>