@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["About"]</h1>

<h1 class="display-4">About</h1>
<p>JetsonWeb provides a view for utilization statistics of the Jetson Cluster.</p>
<br />
<h2>Team Members</h2>
<h5>Mateo Canabal - Cluster Software Lead</h5>
<p class="description"><b>Interests:</b> Software Development</p>
<p class="description"><b>Experience: </b> C/C++, C#, Java</p>
<h5>Arvind Draffen - Web Development Lead</h5>
<p class="description"><b>Interests:</b> Software Development</p>
<p class="description"><b>Experience: </b> C/C++, C#, Python</p>
<h5>Idrees Miran - Hardware and Cluster Firmware Co-Lead</h5>
<p class="description"><b>Interests:</b> Hardware and Software Development</p>
<p class="description"><b>Experience: </b> C/C++</p>
<h5>Hunter Robinson - Project Lead and Hardware and Cluster Firmware Co-Lead</h5>
<p class="description"><b>Interests:</b> Hardware and Software Development</p>
<p class="description"><b>Experience: </b> C/C++, C#</p>
<br />
<h2>Advisors</h2>
<h5>Dr. Earl Wells</h5>
<h5>Mr. Jason Winningham</h5>

<style>
    p.description {
        margin-top: 2px;
        margin-bottom: 2px;
    }
    h5 {
        margin-top: 20px;
    }
</style>